{# Derived from https://codeberg.org/janbaudisch/zola-hallo/ #}
{% extends "base.html" %}
{% import "macros/icon.html" as icons %}

{% block content %}
{% set avif_1x = resize_image(path='/portrait.jpg', width=300, height=300, op='fit', format='avif', quality=90) %}
{% set avif_2x = resize_image(path='/portrait.jpg', width=600, height=600, op='fit', format='avif', quality=85) %}
{% set jpg = resize_image(path='/portrait.jpg', width=300, height=300, op='fit', format='jpg', quality=80) %}
<div class="column left">
    <picture>
        <source srcset="{{ avif_1x.url }} 1x, {{ avif_2x.url }} 2x" type="image/avif">
        <img src="{{ jpg.url }}" class="portrait" alt="Portrait" width="300" height="300" fetchpriority="high" />
    </picture>
</div>
<div class="column right">
    <h1>{{ config.extra.greeting | default(value="Hello") }}</h1>
    <h2>{{ config.extra.iam | default(value="I am") }} {{ config.extra.author.name | default(value="Hallo") }}.</h2>
    {% if config.extra.hallo_use_introduction_template %}
    <p>{% include "partials/introduction.html" %}</p>
    {% else %}
    <p>{{ section.content | safe }}</p>
    {% endif %}

    {% if config.extra.links %}
    <div class="links">
        {% for link in config.extra.links %}
        <a rel="me" href="{{ link.url }}" title="{{ link.title }}">
            {{ icons::icon(name=link.icon) }}
        </a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}