{# Derived from https://codeberg.org/janbaudisch/zola-hallo/ #}
{% extends "base.html" %}

{% block content %}
{% set avif = resize_image(path='/portrait.jpg', width=1200, height=1200, op='fit', format='avif', quality=45) %}
{% set jpg = resize_image(path='/portrait.jpg', width=300, height=300, op='fit', format='jpg', quality=80) %}
<div class="column left">
    <picture>
        <source srcset="{{ avif.url }}" type="image/avif" width="{{ avif.width }}" height="{{ avif.height }}">
        <img src="{{ jpg.url }}" class="portrait" alt="Portrait" width="{{ jpg.width }}" height="{{ jpg.height }}"
            fetchpriority="high" />
    </picture>
</div>
<div class="column right">
    <h1>{{ config.extra.greeting | default(value="Hello") }}</h1>
    <h2>{{ config.extra.iam | default(value="I am") }} {{ config.extra.author.name | default(value="Hallo") }}.</h2>
    {% if config.extra.hallo_use_introduction_template %}
    <p>{% include "partials/introduction.html" %}</p>
    {% else %}
    <p>{{ section.content | safe }}</p>
    {% endif %}

    {% if config.extra.links %}
    <div class="links">
        {% for link in config.extra.links %}
        <a rel="me" href="{{ link.url }}" title="{{ link.title }}">
            {% if link.iconset %}
            <span class="{{ link.iconset }} {{ 'fa-' ~ link.icon }}"></span>
            {% else %}
            <span class="fab {{ 'fa-' ~ link.icon }}"></span>
            {% endif %}
        </a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}