{% extends "base.html" %}

{% block title %}
{{ page.title }} | {{ config.title }}
{% endblock title %}

{% block content %}
<article>
    <h1>{{ page.title }}</h1>
    <div class="page-content">
        {{ page.content | safe }}
    </div>

    <div class="back-link">
        <a href="/">&larr; Back to Home</a>
    </div>
</article>

<style>
    main {
        display: block !important;
        margin-top: 2rem !important;
    }

    article {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
    }


    .gpg-key-container {
        text-align: center;
        margin: 2rem 0;
    }

    .gpg-key-container pre {
        display: inline-block;
        text-align: left;
        width: fit-content;
        max-width: 100%;
        margin: 1rem auto;
    }

    h1 {

        margin-bottom: 2rem;
        font-size: 2rem;
    }


    .back-link {
        margin-top: 3rem;
    }
</style>
{% endblock content %}