name: bundix
on:
  workflow_dispatch:
  push:
    branches:
      - main

# TODO: make this run on PRs and push to the branch?

permissions:
  contents: write

jobs:
  bundix:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: cachix/install-nix-action@9280e7aca88deada44c930f1e2c78e21c3ae3edd # v31.7.0
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - run: nix-shell --run 'bundix -l'
      - run: nix-shell --run 'nixfmt gemset.nix'
      # Use the REST API to commit changes, so we get automatic commit signing
      - name: Commit changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILE_TO_COMMIT: gemset.nix
          DESTINATION_BRANCH: main
        run: |
          export TODAY=$( date -u '+%Y-%m-%d' )
          export MESSAGE="Update $FILE_TO_COMMIT"
          export SHA=$( git rev-parse $DESTINATION_BRANCH:$FILE_TO_COMMIT )
          # Only commit if dirty:
          [[ -z "$( git status -s -- $FILE_TO_COMMIT )" ]] || \
          gh api --method PUT /repos/:owner/:repo/contents/$FILE_TO_COMMIT \
            --field message="$MESSAGE" \
            --field content=@<( base64 -i $FILE_TO_COMMIT ) \
            --field branch="$DESTINATION_BRANCH" \
            --field sha="$SHA"
